{% extends "global/base.html" %}

{% block content %}
    <div class="content">
        <h1 class="title-create">Register Task</h1>
        <div class="line"></div>
        <form action="/create/" method="POST" class="form-create">
            {% csrf_token %}
            {% for field in form %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
            {% endfor %}

            <button type="submit" class="btn-create">Create Task</button>
        </form>
    </div>
{% endblock content %}