{% extends "global/base.html" %}

{% block content %}
    <main>

        <div class="header">
            <h1 class="week-title">{{ first_day }} to {{ last_day }}</h1>
            <a href="{% url "tasks:create" %}"><button class="btn-register-task">Register Task</button></a>
        </div>
        
        <div class="progress-bar" style="width: {{ count_completed_percent }}%;" aria-valuemin="0" aria-valuemax="{{ count_pending }}"></div>
        <p class="title-progress-bar">You completed {{ count_completed }} of {{ count_pending }}.</p>

        <div class="line"></div>

        <div  class="tasks-week">
            {% for task in pending_tasks %}
                <form action="/" method="POST">
                    {% csrf_token %}
                    {% if not task.desired_weekly_frequency <= task.completion_count %}
                        {% comment %} <button class="btn-completion-task no-complete">{{ task.title }}</button> {% endcomment %}
                        <button class="btn-completion-task no-complete" type="submit">
                            {{ task.title }}
                            <input type="text" class="input-task" name="task" value="{{ task.id }}">
                        </button>
                    {% else %}        
                        {% comment %} <button class="btn-completion-task complete">{{ task.title }}</button> {% endcomment %}
                        <div class="btn-completion-task complete">
                            {{ task.title }}
                            {% comment %} <input type="text" class="teste"> {% endcomment %}
                        </div>    
                    {% endif %}
                </form>
            {% endfor %}
        </div>

        <h1 class="week-title title">Your Week</h1>

        <div>
            {% for key, value in summary.items %}
                <h3 class="day-of-week">{{ key }}</h3>
                {% for i in value %}
                    <div class="line-summary">
                        <p class="task-summary">You completed <span>"{{ i.0 }}"</span> at <span>{{ i.1 }}</span></p> 
                        <button>delete</button>
                    </div>    
                {% endfor %}
            {% endfor %}
        </div>

    </main>
{% endblock content %}
