*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    color: rgb(241, 236, 236);
}

main{
    padding: 35px 20px;
    height: 100vh;
    width: 45%;
}

.header{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.week-title{
    font-size: 24px;
}

.title{
    margin: 20px 0px;
}

.btn-register-task{
    color: rgb(241, 236, 236);
    background-color: rgb(199, 19, 199);
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
    transition: .15s ease-in;
}

.btn-register-task:hover{
    color: rgb(226, 220, 220);
    background: rgb(126, 2, 126);
}

.btn-register-task a{
    color: rgb(241, 236, 236);
    text-decoration: none;
}

.progress-bar{
    height: 10px; 
    margin-top: 15px;
    margin-bottom: 5px;
    background: linear-gradient(to right, rgb(228, 125, 228), rgb(126, 2, 126));
    border-radius: 5px;
}

.title-progress-bar{
    font-size: 15px;
    padding-left: 3px;
}

.line{
    margin: 6px 0px 25px 0px;
    background-color: rgb(51, 49, 49);
    height: 1px;
    width: 100%;
}

.tasks-week{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.btn-completion-task{
    padding: 10px 30px;
    border-radius: 20px;
    border: 2px solid rgb(51, 49, 49);
    background-color: transparent;
    font-size: 14px;
}

.no-complete{
    color: rgb(241, 236, 236);
    cursor: pointer;
}

.complete{
    color: grey;
    cursor: pointer;
}

.day-of-week{
    margin-top: 15px;
}

.task-summary{
    color: grey;
    padding: 3px 0px;
    padding-left: 20px;
}

.task-summary span{
    color: rgb(241, 236, 236);
}

.input-task{
    display: none;
}

.line-summary{
    display: flex;
}